<% include ../partials/header %>
    <header class="jumbotron">
        <h1>Checkout Our Top Rated Campgrounds</h1>
        <p>Visit some of the best handpicked campgrounds from all over the country.</p>
        <p><a class="btn btn-lg btn-primary" href="/campgrounds/new">Add a New Campground</a></p>
    </header>
    <div class="row flex-row text-center">
        <%campgrounds.forEach(function(campground){%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                  <img src="<%= campground.image %>">
                  <div class="caption">
                      <h4><%= campground.name %></h4>
                  </div>
                  <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <%});%>
    </div>
<% include ../partials/footer %>