.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.form-wrap{
    width: 30%;
    margin: 20px auto;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.form-delete {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}